#p1   {
   font-size : 1.4em;
   width : 100%;
   text-align : center;
   color : blue;
}

#p2   {
   position : absolute;
   font-size : 1.1em;
   top : 3.8em;
   font-style : italic;
}

#form1  {
   position : absolute;
   top : 9em;
   right : 20%;
   height : 10em;
   width : 60%;
}

input[type=text]  {         /*The input boxes that hold the 5 chosen parameters.*/
   text-align : center;
}

input[name=k1]   {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=k2]   {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=k3]  {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=m1]  {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=m2]   {
   position : absolute;
   left : 11em;
   width : 10em;
}

#canvasOne   {
   position : absolute;
   top : 38.8em;
   left : 20%;
   margin-bottom : 3em;
}

#eigenWrapper  {         /*A wrapper for the four calculated values that are to be displayed.*/
   position : absolute;
   top : 24.8em;
   right : 20%;
   font-style : oblique;
   color : blue;
   height  : 10em;
   width : 60%;
}

#values   {
   position : absolute;
   top : 1em;
}

#omega1  {
   position : absolute;
   top : 3em;
}

#omega2  {
   position : absolute;
   top : 5em;
}

#eigen1  {
   position : absolute;
   top : 7em;
}

#eigen2  {
   position : absolute;
   top : 9em;
}

#popout1   {           /*Popout invites user to change parameters.*/
   visibility : hidden;
   opacity : 0.6;
   position : absolute;
   right : 0em;
   width : 10em;
   top : 11.4em;
   background-color : #FFFFFF;
   border-radius : 7.5%;
   padding : 1%;
   font : 0.7em;
   font-style : italic;
   text-align : center;
   -webkit-transition: background-color 4s; /* For Safari 3.1 to 6.0 */
   transition: background-color 4s;
}


#form1:hover #popout1   {
   visibility : visible;
   background-color : #00FFFF;
}

