#p1   {
   font-size : 1.4em;
   width : 100%;
   text-align : center;
   color : blue;
}

#p2   {
   position : absolute;
   font-size : 1.1em;
   top : 3.8em;
   font-style : italic;
}

#form1  {
   position : absolute;
   top : 9em;
   left : 3vw;
   height : 10em;
   width : 18em;
}

input[type=text]  {
   text-align : center;
   position : absolute;
   left : 11em;
   width : 7em;
}

#canvasOne   {
   position : absolute;
   top : 9em;
   left : 56%;
}

#eigenWrapper  {
   position : absolute;
   top : 24em;
   left : 3vw;
   font-style : oblique;
   font-size : 1em;
   color : blue;
   height  : 10em;
   width : 20em;
}

#values   {
   position : absolute;
   top : 0%;
   bottom : 7%;
}

#omega1  {
   position : absolute;
   top : 15%;
   bottom : 22%;
}

#omega2  {
   position : absolute;
   top : 30%;
   bottom : 37%;
}

#eigen1  {
   position : absolute;
   top : 45%;
   bottom : 52%;
}

#eigen2  {
   position : absolute;
   top : 60%;
   bottom : 67%;
}

#popout1   {           /*Popout invites user to change parameters.*/
   visibility : hidden;
   opacity : 0.6;
   position : absolute;
   right : -10em;
   width : 10em;
   top : 5.4em;
   background-color : #FFFFFF;
   border-radius : 7.5%;
   padding : 1%;
   font : 0.7em;
   font-style : italic;
   text-align : center;
   -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s, padding-bottom 2s, padding-top 3s;
}


#form1:hover #popout1   {
   visibility : visible;
   background-color : #00FFFF;
   padding-bottom : 15%;
   padding-top : 15%;
}

