#form1  {
   position : absolute;
   top : 3em;
   left : 3em;
   height : 10em;
   width : 18em;
}

input[type=text]  {
   text-align : center;
}

input[name=k1]   {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=k2]   {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=k3]  {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=m1]  {
   position : absolute;
   left : 11em;
   width : 10em;
}

input[name=m2]   {
   position : absolute;
   left : 11em;
   width : 10em;
}

#canvasOne   {
   position : absolute;
   top : 35.8em;
   left : 3em;
}

#eigenWrapper  {
   position : absolute;
   top : 25.8em;
   left : 3em;
   font-style : oblique;
   color : blue;
   height  : 10em;
   width : 20em;
}

#omega1  {
   position : absolute;
   top : 1em;
}

#omega2  {
   position : absolute;
   top : 3em;
}

#eigen1  {
   position : absolute;
   top : 5em;
}

#eigen2  {
   position : absolute;
   top : 7em;
}

#popout1   {           /*Popout invites user to change parameters.*/
   visibility : hidden;
   position : absolute;
   right : 0em;
   width : 10em;
   top : 11.4em;
   background-color : #FFFFFF;
   padding : 0.8em;
   border-radius : 20%;
   font : 0.7em;
   font-style : italic;
   text-align : center;
   -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s, padding-bottom 2s, padding-top 0.5s;
}


#form1:hover #popout1   {
   visibility : visible;
   background-color : #00FFFF;
   padding-bottom : 3em;
   padding-top : 3em;
}

